.formContainer {
  margin: 20px 0;
  padding: 20px 40px;
  background-color: rgb(229, 218, 240);
  border-radius: 6px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: max-width;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 12px;
  border: 2px solid #ccc;
}

.formLabelText {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 18px;
}

.formButton {
  background-color: #535eaa;
  color: white;
  padding: 8px 8px;
  /* height: 36px; */
  margin-block: 20px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.formButton:hover,
.formButton:active {
  background-color: #2eee0c;
}
