.menu {
  padding: 15px 0;
  list-style: none;
  display: flex;
  box-shadow: 0px 2px 8px 0px rgba(66, 68, 90, 0.5);
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.link:global(.active) {
  color: red;
}
