.block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.block label {
  width: 80px;
}
/* .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
} */
